<!DOCTYPE html>
<html>
  <head>
  <meta charset='utf-8'>
    <title>Fill Out Your Libs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div id="container">

      <form action="/labor" method="post">
        <h4>Labor Day</h4>
        <label for="name1">Choose a name:</label>
        <input id="name1" name="name1" type="text"><br>
        <label for="verb1">Choose a verb:</label>
        <input id="verb1" name="verb1" type="text"><br>
        <label for="noun1">Choose a noun:</label>
        <input id="noun1" name="noun1" type="text"><br>
        <label for="noun2">Choose a noun:</label>
        <input id="noun2" name="noun2" type="text"><br>
        <label for="pluralnoun1">Choose a plural noun:</label>
        <input id="pluralnoun1" name="pluralnoun1" type="text"><br>
        <label for="name2">Choose another name:</label>
        <input id="name2" name="name2" type="text"><br>
        <label for="verb2">Choose another verb:</label>
        <input id="verb2" name="verb2" type="text"><br>
        <label for="adjective2">Choose an adjective:</label>
        <input id="adjective2" name="adjective2" type="text"><br>
        <label for="noun3">Choose a noun:</label>
        <input id="noun3" name="noun3" type="text"><br>
        <button type="submit">Fill out your MadLib!</button>

      </form>

    </div>
  </body>
</html>
