<!DOCTYPE html>
<html>
  <head>
   <meta charset='utf-8'>
    <title>Fill Out Your Libs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

  </head>
  <body>
    <div id="container">

      <form action="/vacation" method="post">
        <label for="adjective1">Choose an adjective:</label>
        <input id="adjective1" name="adjective1" type="text">
        <label for="adjective2">Choose another adjective:</label>
        <input id="adjective2" name="adjective2" type="text">
        <label for="noun1">Choose a noun:</label>
        <input id="noun1" name="noun1" type="text">
        <label for="noun2">Choose another noun:</label>
        <input id="noun2" name="noun2" type="text">
        <label for="pluralnoun1">Choose a plural noun:</label>
        <input id="pluralnoun1" name="pluralnoun1" type="text">
        <label for="game">Choose the name of a game:</label>
        <input id="game" name="game" type="text">
        <label for="pluralnoun2">Choose another plural noun:</label>
        <input id="pluralnoun2" name="pluralnoun2" type="text">
        <button type="submit">Fill out your MadLib!</button>


      </form>

    </div>
  </body>
</html>
