<!DOCTYPE html>
<html>
  <head>
  <meta charset='utf-8'>
    <title>Fill Out Your Libs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
     <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div id="container">

      <form action="/zoo" method="post">
        <h4>A Day At The Zoo</h4>
        <label for="adjective1">Choose an adjective:</label>
        <input id="adjective1" name="adjective1" type="text"><br>
        <label for="animal1">Choose an animal:</label>
        <input id="animal1" name="animal1" type="text"><br>
        <label for="noun1">Choose a noun:</label>
        <input id="noun1" name="noun1" type="text"><br>
        <label for="verbpast1">Choose a past tense verb:</label>
        <input id="verbpast1" name="verbpast1" type="text"><br>
        <label for="adverb1">Choose an adverb:</label>
        <input id="adverb1" name="adverb1" type="text"><br>
        <label for="adjective2">Choose another adjective:</label>
        <input id="adjective2" name="adjective2" type="text"><br>
        <label for="noun2">Choose another noun:</label>
        <input id="noun2" name="noun2" type="text"><br>
        <label for="food">Choose a food:</label>
        <input id="food" name="food" type="text"><br>
        <label for="color">Choose a color:</label>
        <input id="color" name="color" type="text"><br>
        <label for="animal2">Choose another animal:</label>
        <input id="animal2" name="animal2" type="text"><br>
        <button type="submit">Fill out your MadLib!</button>

      </form>

    </div>
  </body>
</html>
